{{#each images}}
    <div class="row">
        <h4>{{testName}}</h4>
    </div>
    <div class="row">
        <div class="column">
            <img class="thumbnail" src="data:image/png;base64, {{actual.value}}" alt="">
        </div>
        <div class="column">
            <img class="thumbnail" src="data:image/png;base64, {{expected.value}}" alt="">
        </div>
        <div class="column">
            <img class="thumbnail" src="data:image/png;base64, {{diff.value}}" alt="">
        </div>
        <div class="column">
            <input id="agreement" data-id="{{id}}" type="checkbox">
            <label class="label-inline" for="confirmField">Согласование</label>
        </div>
    </div>
    <div class="row">
        <div class="column column-100">
            <div class="scrubber">
                <div class="actual">
                    <div class="thumbnail" style="background-image: url(data:image/png;base64,{{actual.value}})"></div>
                </div>
                <div class="expected">
                    <div  class="thumbnail" style="background-image: url(data:image/png;base64,{{expected.value}})"></div>
                </div>
            </div>
        </div>
    </div>
{{/each}}

<style>
    .scrubber {
        position: relative;
        height: 100vh;
        width: 100vw;
    }

    .scrubber .actual {
        display: block;
        position: absolute;
        top: 0;
        overflow: hidden;
        height: 100%;
        width: 50%;
    }

    .scrubber .expected {
        display: block;
        position: absolute;
        top: 0;
        overflow: hidden;
        height: 100%;
        width: 50%;
    }

    .scrubber .actual > div {
        position: absolute;
        left: 0;
        height: 100%;
        width: 100vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .scrubber .expected > div {
        position: absolute;
        right: 0;
        height: 100%;
        width: 100vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

</style>